body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* NAVIGATION */

nav.nav {
    height: 20vh;
    line-height: 20vh;
}

nav.nav a.sidenav-trigger i {
    line-height: 20vh;
    font-size: 24px;
    color: green;
}

ul.sidenav li a {
    color: green;
}

nav .nav-wrapper {
    background-color: white;
    padding: 0 100px;
}

@media only screen and (max-width: 600px) {
    nav .nav-wrapper {
      padding: 0;
    }

    nav .brand-logo img {
        height: 30px;
    }
}

nav ul {
    color: green;
}

nav ul.right a, nav ul.left a {
    color: green;
}

.right, .left {
    min-width: 225px;
}

nav img {
    height: 50px;
}

.grass {
    height: 5vh;
    margin-top: 15vh;
}

/* MAIN */

.main {
    background: linear-gradient(#88B04B, #006934);
    min-height: 80vh;
    padding: 50px;
    box-sizing: border-box;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.content p {
    color: white;
    font-size: 24px;
}

.leagues {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.leagues div.league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 50px 20px;
}

div.league a {
    color: white;
    margin-top: 20px;
    font-weight: 100;
}

div.league a:hover {
    font-weight: bold;
}

.leagues img.league {
    height: 150px;
}


/* ABOUT US */

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    min-width: 150px;
}

.team .person img {
    height: 100px;
}

.team .person p.name {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
}

.team .person p.title {
    font-size: 14px;
    font-weight: lighter;
    color: green;
    margin-top: 0;
}

/* ABOUT US */

.description, .description {
    background-color: rgba(125,180,108,0.9);
    color: white;
    padding: 10% 20%;
    min-height: 50vh;
    box-sizing: border-box;
}

.description p {
    margin-top: 0;
}

.description p.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.description p.paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

.aboutus .team {
    padding: 50px 100px;
    text-align: center;
}

.aboutus .team .heads {
    width: 100%;
}

.aboutus .team .heads.mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .aboutus .team .heads.mobile {
        display: block;
    }    

    .aboutus .team .heads {
        display: none;
    }
}

.aboutus .heads .head {
    margin-top: 50px;
}

.aboutus .heads .head p {
    margin: 0;
}

.aboutus .heads .head p.title {
    font-size: 14px;
    color: #88B04B;
}

.aboutus .heads .head p.name {
    color: #4F4F4F;
}

.aboutus .heads .head img {
    height: 100px;
    width: 100px;
}

.aboutus .team p.header {
    font-size: 24px;
    font-weight: bold;
    color:#88B04B;
}

/* TECHNOLOGY */

.technology .phoneImage, .technology .phoneImage2 {
    text-align: left;
}

.technology .phone ul {
    padding: 0 50px;
}

.technology .phone ul li {
    margin-bottom: 30px;
    font-size: 18px;
    list-style: none;
}

.technology .phone ul li .dot {
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.technology .phone ul li span {
    font-size: 14px;
}

.phone1, .phone2 {
    width: 80%;
}

.outergrey .container {
    width: 70%;
    padding: 20px 0;
}

.technology .phone { 
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .technology .phone { 
        text-align: center;
    } 

    .technology .phoneImage, .technology .phoneImage2 {
        text-align: center;
    }
}

/* COMPANIES */
.companies img {
    height: 150px;
}

.wrap {
    width: 100%;
    text-align: center;
}

.tapinImg {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .companies img {
        height: 100px;
    }   
}
.companies .col {
    text-align: center;
}

.companies .row {
    padding: 50px 0;
}

.companies p.title {
    color: green;
    font-weight: bold;
}

.companies .tapin {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

.companies .tapin img {
    margin: 50px 0;
}

.download {
    background: linear-gradient(45deg, #02af5f, #074c96);
}

.download .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download .wrap .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.download .container {
    padding: 50px 0;
}

.download img.tapin {
    width: 175px;
    margin-bottom: 25px;
}

.download .wrap .content .title {
    color: white;
    font-size: 2rem;
    max-width: 30%;
}

.download img.QR {
    width: 100px;
}

.download .app {
    display: flex;
    align-items: center;
}

.download .app .words p{
    margin: 0;
}

.download .app img.app-logo {
    width: 75px;
    height: 75px;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.download .app .words .available {
    display: flex;
    align-items: center;
}

.download .app .words > p {
    font-size: 16px;
}

.download .app .words .available img{
    height: 30px;
    width: 24px;
    margin-left: 10px;
    filter: opacity(80%);
    cursor: pointer;
}

.download .app .words .available img:hover {
    filter: opacity(100%);
}

@media only screen and (max-width: 700px) {
    .download .wrap .content {
        flex-direction: column;
        text-align: center;
    }

    .download .wrap .content .title {
        text-align: center;
        max-width: 100%;
    }

    .download .wrap .content .app {
        margin-bottom: 50px;
    }
}

/* PALLA */

.palla img {
    height: 200px;
}

.palla {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 50px 0;
}

@media only screen and (max-width: 800px) {
    .palla {
        width: 90%;
    }
}

.palla p.title {
    color: green;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background-color: rgba(125,180,108,0.9);
    min-height: 300px;
    text-align: center;
    padding: 10px;
}

.footer .row .col img {
    height: 70px;
    width: 70px;
}

.footer .row {
    width: 60%;
    margin: 50px auto;
}

.footer .row .col {
    margin-top: 25px;
}

.footer p {
    color: white;
    font-size: 22px;
}


/* NEWS */

.story .header .top .league {
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
}

.story .header .top .leagueSmall {
    padding: 5px 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: none;
}

.story .header .top {
    text-align: center;
}

.story .header .top .title {
    text-align: center;
    margin: 0;
}

.MA {
    background-color: green;
}

.NH {
    background-color: pink;
}

.story .header .top {
    border-bottom: 2px solid grey;
    padding: 20px 0;
}

.story {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.story img {
    width: 100%;
    align-self: center;
}

.story > * {
    margin-bottom: 50px;
}

.table-of-contents {
    right: 50px;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #ee6e73;
}

.table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: #757575;
    padding-left: 16px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .4;
    display: inline-block;
}


@media only screen and (max-width: 600px) {
    .story .header .top .league {
        display: none;
    }

    .story .header .top .leagueSmall {
        display: block;
    }
}

/* CONTACT */

.joinUsInfo h3 {
    color: black;
} 

.contactForm p {
    color: black;
}

label [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: rgba(125,180,108,0.9);
}

label [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgba(125,180,108,0.9);
}