body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* NAVIGATION */

nav.nav {
    height: 20vh;
    line-height: 20vh;
}

nav.nav a.sidenav-trigger i {
    line-height: 20vh;
    font-size: 24px;
    color: green;
}

nav .nav-wrapper {
    background-color: white;
    padding: 0 100px;
}

@media only screen and (max-width: 600px) {
    nav .nav-wrapper {
      padding: 0;
    }

    nav .brand-logo img {
        height: 30px;
    }
}

nav ul {
    color: green;
}

nav ul.right a, nav ul.left a {
    color: green;
}

.right, .left {
    min-width: 225px;
}

nav img {
    height: 50px;
}

.grass {
    height: 5vh;
    margin-top: 15vh;
}

/* MAIN */

.main {
    background: linear-gradient(#88B04B, #006934);
    min-height: 80vh;
    padding: 50px;
    box-sizing: border-box;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.content p {
    color: white;
    font-size: 24px;
}

.leagues {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.leagues div.league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 50px 20px;
}

div.league a {
    color: white;
    margin-top: 20px;
    font-weight: 100;
}

div.league a:hover {
    font-weight: bold;
}

.leagues img.league {
    height: 150px;
}


/* ABOUT US */

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    min-width: 150px;
}

.team .person img {
    height: 100px;
}

.team .person p.name {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
}

.team .person p.title {
    font-size: 14px;
    font-weight: lighter;
    color: green;
    margin-top: 0;
}

/* ABOUT US */

.description, .description {
    background-color: rgba(125,180,108,0.9);
    color: white;
    padding: 10% 20%;
    min-height: 50vh;
    box-sizing: border-box;
}

.description p {
    margin-top: 0;
}

.description p.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.description p.paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

.aboutus .team {
    padding: 50px 100px;
    text-align: center;
}

.aboutus .team .heads {
    width: 100%;
}

.aboutus .team .heads.mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .aboutus .team .heads.mobile {
        display: block;
    }    

    .aboutus .team .heads {
        display: none;
    }
}

.aboutus .heads .head {
    margin-top: 50px;
}

.aboutus .heads .head p {
    margin: 0;
}

.aboutus .heads .head p.title {
    font-size: 14px;
    color: #88B04B;
}

.aboutus .heads .head p.name {
    color: #4F4F4F;
}

.aboutus .heads .head img {
    height: 100px;
    width: 100px;
}

.aboutus .team p.header {
    font-size: 24px;
    font-weight: bold;
    color:#88B04B;
}

/* TECHNOLOGY */

.technology .phoneImage, .technology .phoneImage2 {
    text-align: left;
}

.technology .phone ul {
    padding: 0 50px;
}

.technology .phone ul li {
    margin-bottom: 30px;
    font-size: 18px;
    list-style: none;
}

.technology .phone ul li .dot {
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.technology .phone ul li span {
    font-size: 14px;
}

.phone1, .phone2 {
    width: 80%;
}

.outergrey .container {
    width: 70%;
    padding: 20px 0;
}

.technology .phone { 
    margin-top: 100px;
}

/* COMPANIES */
.companies img {
    height: 150px;
}

.companies .col {
    text-align: center;
}

.companies .row {
    padding: 50px 0;
}

.companies p.title {
    color: green;
    font-weight: bold;
}

.companies .tapin {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

.companies .tapin img {
    margin: 50px 0;
}

/* FOOTER */
.footer {
    background-color: rgba(125,180,108,0.9);
    min-height: 300px;
    text-align: center;
    padding: 10px;
}

.footer .row .col img {
    height: 70px;
    width: 70px;
}

.footer .row {
    width: 60%;
    margin: 50px auto;
}

.footer .row .col {
    margin-top: 25px;
}

.footer p {
    color: white;
    font-size: 22px;
}

