body {
    margin: 0;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
}

.nav img {
    height: 150px;
}

.nav {
    display: flex;
    margin-top: 50px;
    border-top: 3px solid lightgreen;
    border-bottom: 3px solid lightgreen;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    align-items: center;
    padding: 0px 100px;
    max-height: 80px;
}

.nav .tabs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 24px;
}

.nav .tabs p a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav .tabs p a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 100px 100px 100px;
}

.content {
    border: 3px solid lightgreen;
    margin: auto;
    margin-top: 100px;
    background-color:rgba(0, 0, 0, .6);
    padding: 50px 100px;
}

.content p {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 0 0 100px 0;
    } 

    .content {
        padding: 50px 50px;
    }

    .content p {
        font-size: 16px;
    }
} 

.leagues {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.leagues div.league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 50px 20px;
}

div.league a {
    color: white;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

div.league a:hover {
    font-weight: bold;
}

.leagues img.league {
    height: 150px;
}

/* ABOUT US */

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}

.team .person img {
    height: 100px;
}

.team .person p.name {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
}

.team .person p.title {
    font-size: 14px;
    font-weight: lighter;
    color: green;
    margin-top: 0;
}